/* Checkout and Cart */

.cartEmpty {
    background-color: $cFondoBasico;
    color: $cCuerpo;
    text-align: center;
    width: 50%;
    height: 47% !important;
    margin-left: auto;
    margin-right: auto;
    color: $cPrincipal;
    font-family: $fEspecial;
    font-size: 22px;
    padding: 5px;
    margin-top: 20px;
}

.order {
    background-color: $cFondoBasico;
    color: $cCuerpo;
    text-align: center;
    width: 50%;
    height: 47% !important;
    margin-left: auto;
    margin-right: auto;
    color: $cCuerpo;
    font-family: $fCuerpo;
    font-size: 14px;
    padding: 5px;
    margin-top: 20px;

    a {
        color: $cPrincipal;
        font-weight: bold;
    }
}

.page_Container-checkout {
    width: 50%;
    height: 47% !important;
    padding: 5px;
    height: fit-content;
    background-color: $cFondoBasico;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    @include columnas;
    align-items: center;
    justify-content: space-between;

    .checkout_itemContainer {
        @include columnas;
        gap: 5px;
        width: 100%;

        .checkout_item {
            background-color: $cFondoBClaro;
            font-family: $fCuerpo;
            color: $cCuerpo;
            font-size: 14px;
            text-align: center;
            padding: 5px;

            .checkout_item-name {
                text-transform: uppercase;
                font-weight: bold;
                color: $cSecundario;
            }

            .checkout_item-row {
                @include filas;
                justify-content: center;
                gap: 10px;

                div {

                    height: 30px;
                    line-height: 30px;
                    color: $cPrincipal;

                    span {
                        color: $cCuerpo;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .checkout_item-column {
        @include columnas;
        font-family: $fCuerpo;
        font-size: 14px;
        width: 100%;

        .total-price {
            background-color: $cFondoBClaro;
            height: 20px;
            line-height: 20px;
            text-transform: uppercase;
            color: $cPrincipal;
            text-align: center;
            padding: 5px;
        }

        .linkToCheckout {
            background-color: $cSecundario;
            height: 20px;
            line-height: 20px;
            text-transform: uppercase;
            text-align: center;
            padding: 5px;
            font-weight: bold;

            a {
                color: $cFondoBasico;
            }
        }
    }

    .total-priceAtCheckout {
        background-color: $cFondoBClaro;
        height: 20px;
        line-height: 20px;
        text-transform: uppercase;
        color: $cPrincipal;
        text-align: center;
        padding: 5px 0px 5px 0px;
        width: 100%;
        font-family: $fCuerpo;
        font-size: 14px;
        margin-top: 10px;
    }

    .checkout-form {

        width: 100%;
        margin-top: 10px;

        form {
            @include columnas;
            gap: 5px;
            width: 100%;
    
            label {
                color: $cCuerpo;
                font-family: $fCuerpo;
                font-size: 14px;
                width: 100%;
                text-align: center;
                background-color: $cFondoBClaro;
            }
        }

    }



}