/* Globals */

/* Mixins */

@mixin columnas {
    display: flex;
    flex-direction: column;
}

@mixin filas {
    display: flex;
    flex-direction: row;
}

html {
    width: -webkit-fill-available;
    width: -moz-available;
    height: -webkit-fill-available;
    height: -moz-available;
    padding: 0;
}

body {
    background-image: url("/imgs/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: -webkit-fill-available;
    width: -moz-available;
    height: -webkit-fill-available;
    height: -moz-available;
    margin: 0;
    display: flex !important;
}

#root {
    width: -webkit-fill-available;
    width: -moz-available;
}

.body {
    @include filas;
    width: -webkit-fill-available;
    width: -moz-available;
    height: -webkit-fill-available;
    height: -moz-available;
    // overflow: hidden;
}

a {
    text-decoration: none;
}

.errorPage {
    background-color: $cFondoBasico;
    font-family: $fCuerpo;
    color: $cCuerpo;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 400px;
    margin: auto;

    a {
        margin-left: 5px;
        color: $cSecundario;
    }
}

.pages-title {
    width: -webkit-fill-available;
    width: -moz-available;
    height: 70px;
    background-color: $cFondoBasico;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $fTitulo;
    color: $cSecundario;
    font-size: 28px;
}

.page_Container {
    width: -webkit-fill-available;
    width: -moz-available;
}

.home-message {
    width: 50%;
    padding: 5px;
    height: fit-content;
    background-color: $cFondoBasico;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    h1 {
        margin: 0;
        font-family: $fTitulo;
        text-align: center;
    }

    p {
        margin: 10px 0 0 0;
        text-align: justify;
        font-family: $fCuerpo;
        font-size: 15px;
    }
}

.page_Container-components {
    width: 70%;
    height: 47% !important;
    padding: 5px;
    height: fit-content;
    background-color: $cFondoBasico;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}