/* Variables */

/* Colores */

$cFondoBasico: #1A1A1A;
$cFondoBClaro: #303030;
$cPrincipal: #F2BE5C;
$cSecundario: #F26B6B;
$cTerciario: #FEF8D8;
$cCuerpo: #bababa;

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Ysabeau+SC:wght@1;100;200;300;400;500;600;700&display=swap');

$fTitulo: 'Ysabeau SC', sans-serif;
$fEspecial: 'Caveat', cursive;
$fCuerpo: 'Arial';